@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    font-family: open-sans, sans-serif;
}


body {   
    display: grid;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    grid-template-rows: 400px 400px 400px 400px  600px 100px;
    grid-template-columns: 100%;
    grid-area:  "header"
                "section1"
                "section2"
                "section3"
                "section4"
                "footer";


}
img{
    max-width: 100%;
}
.header {
    background-image: url("../Images/Header.svg");
    background-repeat: stretch;
    background-size: cover;
    display: flex;
    place-items: center;
    grid-area: header;
    height: 100%;
    padding:0;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
&
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
    color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

& p {
    font-size: 0.8em;
    text-align: center;
    margin: 0;
    padding: 20px;

}

.header-content {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items: center;
    justify-content: center;
    ;
    height: 100%;
    padding: 0;
    margin: 0;
&
.buttons{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
    height: 60px;
    

& 
button {
    border-radius: 20px;
    border: 0;
    padding: 0;
   
}
&
.button2 {
    background-color: #23272A;
    color: #f5f5f5;
    width: 300px;


}
}
}
}

@media screen and (min-width: 768px) {
.header {
    background-image: url("../Images/Header.svg");
    background-repeat: stretch;
    background-size: cover;
    display: flex;
    place-items: center;
    grid-area: header;
    height: 100%;
    padding:0;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
&
h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3em;
    color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

& p {
    font-size: 1.3em;
    text-align: center;
    margin: 0;
    padding: 20px;

}

.header-content {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items: center;
    justify-content: center;
    ;
    height: 100%;
    padding: 0;
    margin: 0;
&
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 40px;
    

& 
button {
    border-radius: 20px;
    border: 0;
    padding: 0;
   
}
&
.button2 {
    background-color: #23272A;
    color: #f5f5f5;
    width: 300px;


}
}
}
}

}

section {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    padding: 20px;
& h2{
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 0;
}
}
@media screen and (min-width: 768px) {
   

section {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
& h2{
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 0;
}
}
}
.section1{
    background-color: #e7e5e5;
    place-items: center;
    grid-area: section1;
}

.section2{
    background-color: #f5f5f5;

    place-items: center;
    grid-area: section2;
}

.section3{
    background-color: #e7e5e5;

    place-items: center;
    grid-area: section3;
}

.section4{
    background-color: #f5f5f5;

    place-items: center;
    grid-area: section4;
}

footer{
    background-color: #23272A;
    display: flex;
    place-items: center;
    justify-content: center;
    grid-area: footer;
    padding: 10px;
}
 